In [1]:
from statsbombpy import sb

import os

import pandas as pd

import numpy as np

import warnings
warnings.filterwarnings("ignore")

email = "nathan.talbot@etu.uca.fr"
password = os.environ["mdp_statsbomb"]
creds = {"user" : email, "passwd" : password}

In [98]:
L1 = sb.player_season_stats(8, 281, creds = creds)

In [99]:
L1 = L1[L1.player_season_minutes > 1000]

In [101]:
dic_poste = {"Gardien" : ['Goalkeeper'],
    "Déf. cent." : ['Left Defensive Midfielder', 'Centre Defensive Midfielder', 'Right Defensive Midfielder'],
    "Latéral" : ['Right Back', 'Left Back', 'Right Wing Back', 'Left Wing Back'],
    "Mil. def." : ['Left Centre Back', 'Right Centre Back', 'Centre Back'],
    "Milieu" : ['Right Attacking Midfielder', 'Left Attacking Midfielder', 'Right Midfielder', 'Right Centre Midfielder',
        'Centre Attacking Midfielder', 'Left Centre Midfielder', 'Left Midfielder'],
    "Buteur" : ['Centre Forward', 'Left Centre Forward', 'Right Centre Forward'],
    "Ailier" : ['Left Wing', 'Right Wing']}

In [102]:
ite1 = [L1.team_name.unique().tolist(), dic_poste.keys()]

In [103]:
index1 = pd.MultiIndex.from_product(ite1, names = ["Club", "Poste"])

In [104]:
df = pd.DataFrame(index = index1, columns = ["Taille moy.", "Poids moy."])
for i in index1 :
    df.loc[i] = [L1[(L1.team_name == i[0]) & (L1.primary_position.isin(dic_poste[i[1]]))].player_height.mean(axis = 0),
                 L1[(L1.team_name == i[0]) & (L1.primary_position.isin(dic_poste[i[1]]))].player_weight.mean()]

In [105]:
df.to_excel("Taille_Poids_L2_2324.xlsx", index = True, header = True)

In [106]:
L1[L1.team_name == "FC Annecy"][["player_height", "player_weight"]]

     player_height  player_weight
39           178.0           76.0
46           180.0           68.0
144          181.0           75.0
188          184.0           78.0
318          190.0            NaN
386          180.0            NaN
405          191.0           80.0
446          165.0           55.0
472          175.0            NaN
473          180.0           74.0
478          180.0           63.0
480          186.0           79.0
487          187.0            NaN
495          191.0           75.0
522            NaN            NaN
533            NaN            NaN
537          193.0           87.0
562          178.0            NaN
589            NaN            NaN