In [1]:
import pandas as pd

info_match = pd.read_excel("Info matchs/Stats Bomb/2023_2024.xlsx", index_col = 0)

In [2]:
dico_team = {True : "away_team", False : "home_team"}

In [26]:
df = info_match[["home_team", "away_team", "home_score", "away_score"]]
df["Résultat"] = df[["home_score", "away_score"]].idxmax(axis = 1)
df.loc[df.away_score == df.home_score, "Résultat"] = "Match nul"
df.loc[df["Résultat"] == "away_score", "Résultat"] = df.loc[df["Résultat"] == "away_score", "away_team"]
df.loc[df["Résultat"] == "home_score", "Résultat"] = df.loc[df["Résultat"] == "home_score", "home_team"]

C:\Users\fabie\AppData\Local\Temp\ipykernel_22988\1845493160.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Résultat"] = df[["home_score", "away_score"]].idxmax(axis = 1)

In [6]:
df2 = info_match[["home_team", "away_team", "home_score", "away_score"]]
df2.loc[df2["away_score"] > df2["home_score"], "Résultat"] = df2.loc[df2["away_score"] > df2["home_score"], "away_team"]
df2.loc[df2["home_score"] > df2["away_score"], "Résultat"] = df2.loc[df2["home_score"] > df2["away_score"], "home_team"]

C:\Users\fabie\AppData\Local\Temp\ipykernel_28384\2059434198.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.loc[df2["away_score"] > df2["home_score"], "Résultat"] = df2.loc[df2["away_score"] > df2["home_score"], "away_team"]

In [7]:
df2

         home_team       away_team  home_score  away_score       Résultat
0          Auxerre       Dunkerque           0           1      Dunkerque
1            Rodez        Paris FC           2           2            NaN
2    Saint-Étienne           Rodez           2           0  Saint-Étienne
3     Valenciennes  Quevilly Rouen           2           1   Valenciennes
4            Rodez      Concarneau           2           0          Rodez
..             ...             ...         ...         ...            ...
377  Grenoble Foot        Paris FC           2           0  Grenoble Foot
378       Guingamp       Dunkerque           0           1      Dunkerque
379           Caen             Pau           2           0           Caen
380        Auxerre          Amiens           0           1         Amiens
381         Bastia    Valenciennes           3           0         Bastia

[382 rows x 5 columns]