In [2]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

dico_annee = {"2023_2024" : ["Auxerre", "Angers", "Saint-Étienne", "Rodez", "Paris FC"],
              "2022_2023" : ["Le Havre", "Metz", "Bordeaux", "Bastia", "Caen"],
              "2021_2022" : ["Toulouse", "AC Ajaccio", "Auxerre", "Paris FC", "Sochaux"],
              "2020_2021" : ["Troyes", "Clermont Foot", "Toulouse", "Grenoble Foot", "Paris FC"]}

In [4]:
annee = list(dico_annee.keys())[0]

In [8]:
event_import = pd.read_json(f"../../Data_file/Heatmap SB/{annee}.json")

In [14]:
event = event_import[~event_import.location.isna()]
event.sort_values(by = ["match_id", "index"], inplace = True)
event.index = range(len(event))
event.head(15)

,shot_type,shot_outcome,type,match_id,period,possession,location,team,pass_cross,pass_type,index,pass_end_location
0,None,None,Pass,3896583,1,2,"[61.0, 40.1]",AC Ajaccio,NaN,Kick Off,5,"[45.6, 41.7]"
1,None,None,Ball Receipt*,3896583,1,2,"[45.6, 41.7]",AC Ajaccio,NaN,None,6,None
2,None,None,Carry,3896583,1,2,"[45.6, 41.7]",AC Ajaccio,NaN,None,7,None
3,None,None,Pass,3896583,1,2,"[45.9, 41.7]",AC Ajaccio,NaN,None,8,"[95.7, 56.6]"
4,None,None,Pass,3896583,1,2,"[24.4, 23.5]",Rodez,NaN,Recovery,9,"[37.9, 15.2]"
5,None,None,Ball Receipt*,3896583,1,2,"[40.8, 15.5]",Rodez,NaN,None,10,None
6,None,None,Pass,3896583,1,2,"[82.2, 64.9]",AC Ajaccio,NaN,Recovery,11,"[93.1, 64.6]"
7,None,None,Ball Receipt*,3896583,1,2,"[93.1, 64.6]",AC Ajaccio,NaN,None,12,None
8,None,None,Carry,3896583,1,2,"[93.1, 64.6]",AC Ajaccio,NaN,None,13,None
9,None,None,Pressure,3896583,1,2,"[24.7, 16.1]",Rodez,NaN,None,14,None
10,None,None,Pass,3896583,1,2,"[97.3, 61.2]",AC Ajaccio,NaN,None,15,"[116.6, 67.5]"
11,None,None,Pressure,3896583,1,2,"[9.5, 14.3]",Rodez,NaN,None,16,None
12,None,None,Ball Receipt*,3896583,1,2,"[116.6, 67.5]",AC Ajaccio,NaN,None,17,None
13,None,None,Carry,3896583,1,2,"[116.6, 67.5]",AC Ajaccio,NaN,None,18,None
14,None,None,Pass,3896583,1,2,"[116.8, 67.8]",AC Ajaccio,1.0,None,19,"[111.7, 46.6]"

In [24]:
centre = event[(event.pass_cross == 1) & (event.pass_type != "Corner")]
n_event = 4
for i in centre.index :
    team_i = centre.team
    event_i = event.loc[i + 1 : i + n_event]
    if sum(((event_i.shot_outcome == "Goal") | (event_i.type == "Own Goal Against")) & (event_i.team == centre.loc[i, "team"])) > 0 :
        centre.loc[i, "goal"] = 1
centre

,shot_type,shot_outcome,type,match_id,period,possession,location,team,pass_cross,pass_type,index,pass_end_location,goal
14,None,None,Pass,3896583,1,2,"[116.8, 67.8]",AC Ajaccio,1.0,None,19,"[111.7, 46.6]",NaN
105,None,None,Pass,3896583,1,8,"[86.5, 7.2]",AC Ajaccio,1.0,None,112,"[111.4, 44.0]",NaN
163,None,None,Pass,3896583,1,13,"[99.1, 71.8]",Rodez,1.0,None,170,"[107.0, 48.3]",NaN
322,None,None,Pass,3896583,1,21,"[90.5, 76.9]",AC Ajaccio,1.0,None,329,"[105.1, 47.5]",NaN
369,None,None,Pass,3896583,1,21,"[106.8, 21.1]",AC Ajaccio,1.0,None,376,"[113.4, 37.7]",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340065,None,None,Pass,3937846,2,195,"[107.1, 10.0]",Rodez,1.0,None,2921,"[106.6, 48.4]",NaN
1340087,None,None,Pass,3937846,2,196,"[118.4, 54.7]",Saint-Étienne,1.0,None,2943,"[108.7, 36.1]",NaN
1340130,None,None,Pass,3937846,2,198,"[116.3, 65.8]",Saint-Étienne,1.0,None,2986,"[105.5, 0.1]",NaN
1340183,None,None,Pass,3937846,2,201,"[98.2, 74.2]",Rodez,1.0,None,3039,"[106.5, 44.9]",NaN
1340257,None,None,Pass,3937846,2,205,"[95.8, 8.6]",Rodez,1.0,None,3113,"[109.4, 39.4]",NaN

In [27]:
df = centre[["match_id", "team", "goal"]]
df

         match_id           team  goal
14        3896583     AC Ajaccio   NaN
105       3896583     AC Ajaccio   NaN
163       3896583          Rodez   NaN
322       3896583     AC Ajaccio   NaN
369       3896583     AC Ajaccio   NaN
...           ...            ...   ...
1340065   3937846          Rodez   NaN
1340087   3937846  Saint-Étienne   NaN
1340130   3937846  Saint-Étienne   NaN
1340183   3937846          Rodez   NaN
1340257   3937846          Rodez   NaN

[9106 rows x 3 columns]

In [28]:
df = pd.concat([centre.match_id, centre.team, centre.goal, pd.DataFrame(centre.location.tolist(), index = centre.index), pd.DataFrame(centre.pass_end_location.tolist(), index = centre.index)], axis = 1, ignore_index = True)
df

               0              1   2      3     4      5     6
14       3896583     AC Ajaccio NaN  116.8  67.8  111.7  46.6
105      3896583     AC Ajaccio NaN   86.5   7.2  111.4  44.0
163      3896583          Rodez NaN   99.1  71.8  107.0  48.3
322      3896583     AC Ajaccio NaN   90.5  76.9  105.1  47.5
369      3896583     AC Ajaccio NaN  106.8  21.1  113.4  37.7
...          ...            ...  ..    ...   ...    ...   ...
1340065  3937846          Rodez NaN  107.1  10.0  106.6  48.4
1340087  3937846  Saint-Étienne NaN  118.4  54.7  108.7  36.1
1340130  3937846  Saint-Étienne NaN  116.3  65.8  105.5   0.1
1340183  3937846          Rodez NaN   98.2  74.2  106.5  44.9
1340257  3937846          Rodez NaN   95.8   8.6  109.4  39.4

[9106 rows x 7 columns]

In [1]:


df.columns = ["match_id", "Équipe", "goal", "x", "y", "x_end", "y_end"]

df["Top 5"] = df["Équipe"].isin(dico_annee[annee])

NameError: name 'dico_annee' is not defined