In [1]:
import pandas as pd

dico = {
    "annee" : ["2023_2024", "2022_2023", "2021_2022", "2020_2021"],
    "top5" : [["Auxerre", "Angers", "Saint-Étienne", "Rodez", "Paris FC"],
                 ["Le Havre", "Metz", "Bordeaux", "Bastia", "Caen"],
                 ["Toulouse", "AC Ajaccio", "Auxerre", "Paris FC", "Sochaux"],
                 ["Troyes", "Clermont Foot", "Toulouse", "Grenoble Foot", "Paris FC"]]
}

df_final = pd.DataFrame(columns = ["Top 5", "Bottom 15", "Total"])

In [22]:
dfimport = pd.read_json("../Data_file/Heatmap SB/2020_2021.json")

In [10]:
nb_matchs = df.groupby(["team"])["match_id"].nunique()

In [12]:
i = 0

In [24]:
dfimport

,shot_type,shot_outcome,type,match_id,period,possession,location,team,pass_cross,pass_type,index,pass_end_location
0,None,None,Starting XI,3766395,1,1,None,Caen,NaN,None,1,None
1,None,None,Starting XI,3766395,1,1,None,Rodez,NaN,None,2,None
2,None,None,Starting XI,3764568,1,1,None,Pau,NaN,None,1,None
3,None,None,Starting XI,3764568,1,1,None,Guingamp,NaN,None,2,None
4,None,None,Starting XI,3766372,1,1,None,Chamois Niortais,NaN,None,1,None
...,...,...,...,...,...,...,...,...,...,...,...,...
1240428,None,None,Own Goal Against,3766360,1,6,"[19.6, 37.0]",Auxerre,NaN,None,156,None
1240429,None,None,Own Goal Against,3766388,2,106,"[2.8, 36.9]",Caen,NaN,None,2293,None
1240430,None,None,Own Goal Against,3766271,1,88,"[8.1, 39.1]",Nancy,NaN,None,1685,None
1240431,None,None,Own Goal Against,3766359,1,79,"[9.7, 47.7]",Chambly,NaN,None,1239,None
1240432,None,None,Own Goal Against,3766145,1,61,"[3.9, 41.6]",Chamois Niortais,NaN,None,884,None

In [37]:
nb_but

team
AC Ajaccio          23
Amiens              27
Auxerre             60
Caen                26
Chambly             32
Chamois Niortais    28
Châteauroux         25
Clermont Foot       57
Dunkerque           29
Grenoble Foot       42
Guingamp            37
Le Havre            20
Nancy               44
Paris FC            46
Pau                 38
Rodez               28
Sochaux             36
Toulouse            59
Troyes              46
Valenciennes        40
dtype: int64

In [40]:
df = dfimport.copy()
top5 = dico["top5"][3]
nb_matchs = df.groupby(["team"])["match_id"].nunique()
df.set_index(["match_id", "period", "possession"], inplace = True)
goal = df[(df.shot_type == "Open Play") & ((df.shot_outcome == "Goal") | (df.type == "Own Goal Against"))]
df_goal = df.loc[goal.index]
count_passe = df_goal[df_goal.type == "Pass"].groupby(["match_id", "period", "possession"],sort = False, as_index = True).size()
goal = pd.concat([goal, count_passe], axis = 1)
goal.rename({0 : "Passe"}, axis = 1, inplace = True)
goal = goal.reset_index()[["team", "Passe"]]
nb_but = goal.groupby("team").size()
goal = goal.groupby("team").sum()
goal = goal.divide(nb_but, axis = 0)
goal["Top 5"] = 0
goal.loc[goal.index.isin(dico["top5"][3]), "Top 5"] = 1
goal

                     Passe  Top 5
team
AC Ajaccio        7.521739      0
Amiens            3.592593      0
Auxerre           5.050000      0
Caen              4.653846      0
Chambly           4.406250      0
Chamois Niortais  6.250000      0
Châteauroux       8.600000      0
Clermont Foot     6.385965      1
Dunkerque         5.827586      0
Grenoble Foot     5.619048      1
Guingamp          5.621622      0
Le Havre          5.950000      0
Nancy             5.318182      0
Paris FC          3.869565      1
Pau               4.815789      0
Rodez             4.642857      0
Sochaux           6.555556      0
Toulouse          4.423729      1
Troyes            7.586957      1
Valenciennes      4.750000      0

In [39]:
goal

                  Passe  Top 5
team
AC Ajaccio        173.0      0
Amiens             97.0      0
Auxerre           303.0      0
Caen              121.0      0
Chambly           141.0      0
Chamois Niortais  175.0      0
Châteauroux       215.0      0
Clermont Foot     364.0      1
Dunkerque         169.0      0
Grenoble Foot     236.0      1
Guingamp          208.0      0
Le Havre          119.0      0
Nancy             234.0      0
Paris FC          178.0      1
Pau               183.0      0
Rodez             130.0      0
Sochaux           236.0      0
Toulouse          261.0      1
Troyes            349.0      1
Valenciennes      190.0      0

In [47]:
goal

     match_id      team  Passe  Top 5
0     3766395     Rodez    1.0      0
1     3766395     Rodez    1.0      0
2     3764568  Guingamp    5.0      0
3     3766372    Troyes    7.0      1
4     3766222    Troyes    1.0      1
..        ...       ...    ...    ...
738   3766183      Caen    6.0      0
739   3766183   Chambly    4.0      0
740   3766183   Chambly   12.0      0
741   3766183   Chambly    5.0      0
742   3766183      Caen    2.0      0

[743 rows x 4 columns]

In [38]:
goal

,shot_type,shot_outcome,type,match_id,period,possession,location,team,pass_cross,pass_type,index,pass_end_location,nb_passe
1126843,Open Play,Goal,Shot,3766395,1,4,"[117.3, 40.6, 0.31]",Rodez,NaN,None,110,None,NaN
1126844,Open Play,Goal,Shot,3766395,1,27,"[117.8, 39.3, 2.19]",Rodez,NaN,None,705,None,NaN
1126870,Open Play,Goal,Shot,3764568,2,109,"[110.3, 27.5, 0.0]",Guingamp,NaN,None,1939,None,NaN
1126899,Open Play,Goal,Shot,3766372,2,156,"[116.7, 44.3, 0.5]",Troyes,NaN,None,2594,None,NaN
1126914,Open Play,Goal,Shot,3766222,2,130,"[105.7, 29.0, 0.0]",Troyes,NaN,None,1982,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240428,None,None,Own Goal Against,3766360,1,6,"[19.6, 37.0]",Auxerre,NaN,None,156,None,NaN
1240429,None,None,Own Goal Against,3766388,2,106,"[2.8, 36.9]",Caen,NaN,None,2293,None,NaN
1240430,None,None,Own Goal Against,3766271,1,88,"[8.1, 39.1]",Nancy,NaN,None,1685,None,NaN
1240431,None,None,Own Goal Against,3766359,1,79,"[9.7, 47.7]",Chambly,NaN,None,1239,None,NaN
1240432,None,None,Own Goal Against,3766145,1,61,"[3.9, 41.6]",Chamois Niortais,NaN,None,884,None,NaN