In [1]:
import pandas as pd


liste_annee = ["2023_2024", "2022_2023", "2021_2022", "2020_2021"]

annee = liste_annee[0]

In [4]:
df_import = pd.read_json(f"../Data_file/Heatmap SB/{annee}.json")

In [50]:
df = df_import.copy()
df.set_index(["match_id", "period", "possession"], inplace = True)
goal = df[(df.shot_type == "Open Play") & ((df.shot_outcome == "Goal") | (df.type == "Own Goal Against"))]
df_goal = df.loc[goal.index]
deb_action = df_goal.groupby(level = [0, 1, 2], sort = False).head(1)
deb_action["type_action"] = deb_action.pass_type.fillna(deb_action.shot_type).fillna(deb_action.type)
count_passe = df_goal[df_goal.type == "Pass"].groupby(["match_id", "period", "possession"],sort = False, as_index = True).size()
goal = pd.concat([goal, count_passe, deb_action.type_action], axis = 1)
goal.rename({0 : "Passe"}, axis = 1, inplace = True)
goal.replace(to_replace = ['Interception', 'Ball Recovery', 'Duel', 'Recovery', 'Pass', 'Goal Keeper', '50/50'], value = "Open play", inplace = True)
goal = goal.reset_index()[["team", "Passe", "type_action"]]

C:\Users\fabie\AppData\Local\Temp\ipykernel_24280\3815172299.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deb_action["type_action"] = deb_action.pass_type.fillna(deb_action.shot_type).fillna(deb_action.type)

In [53]:
goal.replace(to_replace = ['Interception', 'Ball Recovery', 'Duel', 'Recovery', 'Pass', 'Goal Keeper', '50/50'], value = "Open play", inplace = True)

In [37]:
goal

                            shot_type shot_outcome  type  \
match_id period possession
3896699  2      172         Open Play         Goal  Shot
3937511  1      8           Open Play         Goal  Shot
                50          Open Play         Goal  Shot
         2      145         Open Play         Goal  Shot
3937846  2      146         Open Play         Goal  Shot
...                               ...          ...   ...
3896597  1      65          Open Play         Goal  Shot
3896596  2      91          Open Play         Goal  Shot
3896595  1      78          Open Play         Goal  Shot
         2      166         Open Play         Goal  Shot
                200         Open Play         Goal  Shot

                                                      location           team  \
match_id period possession
3896699  2      172                        [117.2, 46.3, 2.31]      Dunkerque
3937511  1      8           [115.4, 43.2, 0.47000000000000003]       Paris FC
                50                         [107.7, 51.1, 0.44]          Rodez
         2      145                        [116.8, 39.7, 0.42]       Paris FC
3937846  2      146                        [114.7, 32.7, 2.31]  Saint-Étienne
...                                                        ...            ...
3896597  1      65                           [94.3, 30.1, 0.0]           Caen
3896596  2      91                          [101.6, 46.5, 0.0]         Amiens
3896595  1      78                           [98.3, 42.6, 0.0]         Bastia
         2      166          [109.5, 33.8, 2.2800000000000002]         Bastia
                200                         [115.6, 40.6, 0.0]         Bastia

                            pass_cross pass_type  index pass_end_location  \
match_id period possession
3896699  2      172                NaN      None   3385              None
3937511  1      8                  NaN      None    150              None
                50                 NaN      None   1237              None
         2      145                NaN      None   3450              None
3937846  2      146                NaN      None   2223              None
...                                ...       ...    ...               ...
3896597  1      65                 NaN      None   1557              None
3896596  2      91                 NaN      None   1706              None
3896595  1      78                 NaN      None   1296              None
         2      166                NaN      None   2762              None
                200                NaN      None   3376              None

                            minute               player
match_id period possession
3896699  2      172             95        Rémy Boissier
3937511  1      8                3          Nouha Dicko
                50              32      Kilian Corredor
         2      145             95  Kouadio Yves Dabila
3937846  2      146             63        Irvin Cardona
...                            ...                  ...
3896597  1      65              37       Quentin Daubin
3896596  2      91              46          Gaël Kakuta
3896595  1      78              39      Dimitri Liénard
         2      166             76    Benjamin Santelli
                200             94   Christophe Vincent

[810 rows x 11 columns]

In [26]:
deb_action.type_action

match_id  period  possession
3896699   2       172              Corner
3937511   1       8              Recovery
                  14              Penalty
                  50             Throw-in
          2       145              Corner
                                  ...
3896704   1       44                 Pass
3896679   2       158           Free Kick
3896656   1       38             Recovery
3896649   1       34             Recovery
3896634   2       116            Recovery
Name: type_action, Length: 945, dtype: object

In [24]:
dfimport

,shot_type,shot_outcome,type,match_id,period,possession,location,team,pass_cross,pass_type,index,pass_end_location
0,None,None,Starting XI,3766395,1,1,None,Caen,NaN,None,1,None
1,None,None,Starting XI,3766395,1,1,None,Rodez,NaN,None,2,None
2,None,None,Starting XI,3764568,1,1,None,Pau,NaN,None,1,None
3,None,None,Starting XI,3764568,1,1,None,Guingamp,NaN,None,2,None
4,None,None,Starting XI,3766372,1,1,None,Chamois Niortais,NaN,None,1,None
...,...,...,...,...,...,...,...,...,...,...,...,...
1240428,None,None,Own Goal Against,3766360,1,6,"[19.6, 37.0]",Auxerre,NaN,None,156,None
1240429,None,None,Own Goal Against,3766388,2,106,"[2.8, 36.9]",Caen,NaN,None,2293,None
1240430,None,None,Own Goal Against,3766271,1,88,"[8.1, 39.1]",Nancy,NaN,None,1685,None
1240431,None,None,Own Goal Against,3766359,1,79,"[9.7, 47.7]",Chambly,NaN,None,1239,None
1240432,None,None,Own Goal Against,3766145,1,61,"[3.9, 41.6]",Chamois Niortais,NaN,None,884,None

In [37]:
nb_but

team
AC Ajaccio          23
Amiens              27
Auxerre             60
Caen                26
Chambly             32
Chamois Niortais    28
Châteauroux         25
Clermont Foot       57
Dunkerque           29
Grenoble Foot       42
Guingamp            37
Le Havre            20
Nancy               44
Paris FC            46
Pau                 38
Rodez               28
Sochaux             36
Toulouse            59
Troyes              46
Valenciennes        40
dtype: int64

In [40]:
df = dfimport.copy()
top5 = dico["top5"][3]
nb_matchs = df.groupby(["team"])["match_id"].nunique()
df.set_index(["match_id", "period", "possession"], inplace = True)
goal = df[(df.shot_type == "Open Play") & ((df.shot_outcome == "Goal") | (df.type == "Own Goal Against"))]
df_goal = df.loc[goal.index]
count_passe = df_goal[df_goal.type == "Pass"].groupby(["match_id", "period", "possession"],sort = False, as_index = True).size()
goal = pd.concat([goal, count_passe], axis = 1)
goal.rename({0 : "Passe"}, axis = 1, inplace = True)
goal = goal.reset_index()[["team", "Passe"]]
nb_but = goal.groupby("team").size()
goal = goal.groupby("team").sum()
goal = goal.divide(nb_but, axis = 0)
goal["Top 5"] = 0
goal.loc[goal.index.isin(dico["top5"][3]), "Top 5"] = 1
goal

                     Passe  Top 5
team
AC Ajaccio        7.521739      0
Amiens            3.592593      0
Auxerre           5.050000      0
Caen              4.653846      0
Chambly           4.406250      0
Chamois Niortais  6.250000      0
Châteauroux       8.600000      0
Clermont Foot     6.385965      1
Dunkerque         5.827586      0
Grenoble Foot     5.619048      1
Guingamp          5.621622      0
Le Havre          5.950000      0
Nancy             5.318182      0
Paris FC          3.869565      1
Pau               4.815789      0
Rodez             4.642857      0
Sochaux           6.555556      0
Toulouse          4.423729      1
Troyes            7.586957      1
Valenciennes      4.750000      0

In [39]:
goal

                  Passe  Top 5
team
AC Ajaccio        173.0      0
Amiens             97.0      0
Auxerre           303.0      0
Caen              121.0      0
Chambly           141.0      0
Chamois Niortais  175.0      0
Châteauroux       215.0      0
Clermont Foot     364.0      1
Dunkerque         169.0      0
Grenoble Foot     236.0      1
Guingamp          208.0      0
Le Havre          119.0      0
Nancy             234.0      0
Paris FC          178.0      1
Pau               183.0      0
Rodez             130.0      0
Sochaux           236.0      0
Toulouse          261.0      1
Troyes            349.0      1
Valenciennes      190.0      0

In [47]:
goal

     match_id      team  Passe  Top 5
0     3766395     Rodez    1.0      0
1     3766395     Rodez    1.0      0
2     3764568  Guingamp    5.0      0
3     3766372    Troyes    7.0      1
4     3766222    Troyes    1.0      1
..        ...       ...    ...    ...
738   3766183      Caen    6.0      0
739   3766183   Chambly    4.0      0
740   3766183   Chambly   12.0      0
741   3766183   Chambly    5.0      0
742   3766183      Caen    2.0      0

[743 rows x 4 columns]

In [38]:
goal

,shot_type,shot_outcome,type,match_id,period,possession,location,team,pass_cross,pass_type,index,pass_end_location,nb_passe
1126843,Open Play,Goal,Shot,3766395,1,4,"[117.3, 40.6, 0.31]",Rodez,NaN,None,110,None,NaN
1126844,Open Play,Goal,Shot,3766395,1,27,"[117.8, 39.3, 2.19]",Rodez,NaN,None,705,None,NaN
1126870,Open Play,Goal,Shot,3764568,2,109,"[110.3, 27.5, 0.0]",Guingamp,NaN,None,1939,None,NaN
1126899,Open Play,Goal,Shot,3766372,2,156,"[116.7, 44.3, 0.5]",Troyes,NaN,None,2594,None,NaN
1126914,Open Play,Goal,Shot,3766222,2,130,"[105.7, 29.0, 0.0]",Troyes,NaN,None,1982,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240428,None,None,Own Goal Against,3766360,1,6,"[19.6, 37.0]",Auxerre,NaN,None,156,None,NaN
1240429,None,None,Own Goal Against,3766388,2,106,"[2.8, 36.9]",Caen,NaN,None,2293,None,NaN
1240430,None,None,Own Goal Against,3766271,1,88,"[8.1, 39.1]",Nancy,NaN,None,1685,None,NaN
1240431,None,None,Own Goal Against,3766359,1,79,"[9.7, 47.7]",Chambly,NaN,None,1239,None,NaN
1240432,None,None,Own Goal Against,3766145,1,61,"[3.9, 41.6]",Chamois Niortais,NaN,None,884,None,NaN